DISCORD_TOKEN=
CHANNEL_ID=

KANA_COMMAND=.tlt
BUTTON_LABELS=Bắt Đầu,Tiếp Tục
TLT_INTERVAL=60000
TLT_RESPONSE_TIMEOUT=20000
RETRY_DELAY=5000
MAX_RETRIES=5

ENABLE_TL=true
ENABLE_TRANYEU=true
ENABLE_PVP=true
ENABLE_TLT=true
PORT=3000
